* {
    margin: 20px auto;  
    background-color: rgb(128, 123, 186);
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    border: 30px;
    border-radius: 20px;  
    text-align: center;
}
a {
     color: beige;
     border: 2px solid;
     border-radius: 12px;
     padding: 5px;
     border-style: inset;
     text-decoration: none;
  }
